@media screen and (min-width: 320px) {
    body {
        margin-top: 20px;
        overflow: auto;
        height: 120vh;
        justify-content: flex-start;
    }
    main {
        display: grid;
        grid-template-rows: 100% 100% 100%;
        grid-template-columns: 100%;
        grid-template-areas: 
        'sedan'
        'suv' 
        'luxury';
        height: 50%;
        width: 90%;
        border-radius: 10px;
        margin-bottom: 100px;
    }

    main>div>p {
        width: 75%;
    }

    button {
        width: 55%;
        height: 10%;
        margin-top: 0%;
    }

    footer {
        bottom: -85vh;
    }

    #sedan {
        border-radius: 10px 10px 0px 0px;
    }
    #luxury {
        border-radius: 0px 0px 10px 10px;
    }

    .flex-div {
        padding: 20px 0px 0px 20px;
    }
}
@media screen and (min-width: 360px) {

    main>div>p {
        width: 230px;
    }
    .flex-div {
        padding: 50px 0px 0px 50px;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin-top: 0px;
        overflow: hidden;
        height: 100vh;
        justify-content: center;
    }
    
    main {
        display: grid;
        grid-template-rows: 100% 100% 100%;
        grid-template-columns: 33.4% 33.3% 33.3%;
        grid-template-areas: 
        'sedan suv luxury';
        height: 60%;
        width: 90%;
        border-radius: 10px;
    }

    button {
        margin-top: 10%;
    }

    main>div>p {
        width: 75%;
    }

    #sedan {
        border-radius: 10px 0px 0px 10px;
    }
    #luxury {
        border-radius: 0px 10px 10px 0px;
    }

    .flex-div {
        padding: 30px 0px 0px 30px;
    }

    footer {
        bottom: 0vh;
    }
}

@media screen and (min-width: 1024px) {
    main {
        width: 91%;
    }
}

@media screen and (min-width: 1440px) {
    main {
        width: 70%;
    }

    button {
        margin-top: 25%;
    }

    main>div>p {
        width: 73%;
    }

    .flex-div {
        padding: 50px 0px 0px 50px;
    }
}

@media screen and (min-width: 1600px) {
    main {
        width: 70%;
    }

    button {
        margin-top: 30%;
    }

    main>div>p {
        width: 65%;
    }
}

@media screen and (orientation: landscape) and (min-height: 300px) and (max-height: 399px) {
    body {
        overflow: auto;
        margin-top: 150px;
    }
    main {
        height: 200vh;
    }
    button {
        margin-top: 15%;
        margin-bottom: 15%;
        width: 75%;
    }
    footer {
        bottom: -80vh;
    }
}

@media screen and (orientation: landscape) and (min-height: 400px) and (max-height: 700px) {
    body {
        overflow: auto;
        margin-top: 150px;
    }
    main {
        height: 200vh;
    }
    footer {
        bottom: -45vh;
    }
}
